<footer class="text_light">
    Copyright Rémy Bages 
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-twitter"></i>
    <a href="{{path('app_terms')}}">Conditions d'utilisation</a>
    <a href="{{path('app_privacy')}}">Politique de confidentialité</a>
</footer>