<div class="presentation block-content text_light">
    <div class="text">
        <h1 class="title">Bienvenue sur Martketplace !</h1>
        <p>
            Ici vous pourrez trouver plétore d'artistes tous plus talentueux les uns que les autres.
        </p>
        <p>
            Inscrivez-vous pour poster vos propres oeuvres et faire des commandes auprès de vos artistes préférés!
        </p>
        <p>
            Laissez s'exprimer <span class="attribute">l'artiste</span> qui est en vous!
        </p>
        <br>
        <p>
            Site encore en développement...
        </p>
    </div>
    <img src="{{asset('images/static/banner.png')}}" alt="banner">
</div>