<div id="search-modal" class="search collapsable">

	<div class="type-container">
        <label for="search-type-select">Que voulez-vous chercher?</label>
        <select name="search-type" id="search-type-select">
            <option value="image">Image</option>
            <option value="artist">Artiste</option>
        </select>
        <div class="search-image collapsed" data="image">
        <p>test images</p>
        </div>
        <div class="search-artist collapsable" data="artist">
        <p>test artistes</p>
        </div>
    </div>
</div>
