<div id="search-modal" class="search">

	<div class="type-container">
		<div class="entete">
			<h3>Recherche avancée</h3>
			<i id="search-collapser" class="fa-solid fa-plus" collapse-trigger target="search-container"></i>
		</div>
		<div id="search-container" collapsable>
				<form action="{{path('app_search')}}" method="POST">
					<div class="fieldsets">
						<fieldset class="search-block post-field">
							<div class="field">
								<label for="">titre :
								</label>
								<input type="text" name="title">
							</div>
							<div class="field">
								<label for="">description :
								</label>
								<input type="text" name="description">
							</div>
							<div class="field">
								<label for="">auteur :
								</label>
								<input type="text" name="author">
							</div>
							{# <div class="field">
								<label for="">intervalle de temps :
								</label>
								<input type="date" name="date-min" id="">
								<label for="">après :
								</label>
								<input type="date" name="date-max" id="">
							</div> #}
							<div class="field" title="les tags doivent être séparés par des espaces">
								<label for="">tags :</label>
								<input type="text" name="tags">
							</div>
							<div class="field">
								<label for="">categories :</label>
								<select name="categories" id="">
									<option value="all" selected>tous</option>
								{% for cat in categories %}
									<option value="{{cat.id}}">{{cat.name}}</option>
								{% endfor %}
								</select>
							</div>
						</fieldset>
						<fieldset class="search-block author-field">
							<div class="field">
								<label for="">titre :
								</label>
								<input type="text" name="title">
							</div>
							<div class="field">
								<label for="">description :
								</label>
								<input type="text" name="description">
							</div>
							<div class="field">
								<label for="">auteur :
								</label>
								<input type="text" name="author">
							</div>
							<div class="field">
								<label for="">tags :</label>
								<input type="text" name="tags">
							</div>
						</fieldset>
					</div>
						<button class="button" type="submit" id="search-post-button">Valider</button>
				</form>
		</div>
	</div>
</div>
