{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}

	<div class="main">
		<h1>
			{% if allowEditing %}
				Bienvenue sur votre profil
				{{ user.username }}!
			{% else %}
				Bienvenue sur le profil de
				{{ user.username}}!
			{% endif %}
		</h1>
        
		{% if allowEditing %}
			<p>Ici vous pouvez voir vos informations et les modifier</p>
		{% endif %}

	</div>
{% endblock %}
