{% extends 'base.html.twig' %}

{% block title %}Conditions
{% endblock %}


{% block body %}
	<h1>Conditions générales d'utilisation</h1>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti doloribus placeat ipsa nisi officiis consequatur quod incidunt, aut aspernatur repellat consectetur, cupiditate asperiores dignissimos libero voluptatum natus cumque aliquid similique.
	</p>
{% endblock %}
