.messages-container{
    background: var(--MP-bg-primary);
    color: var(--MP-text-primary);
    padding: 1em;

    .head{
        display: flex;
        align-items: center;
        background-color: #575757;
        margin-bottom:1.5em ;
        .avatar{
            height: 50px;
            width: 50px;
            img{
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
    .message{
        margin-top: 1em;
        padding: 1em;
        border: 1px solid;
        .date, .author{
            margin-left: 0.75em;
        }
        .date{
            font-size: 0.75em;
        }
    }
}

.comment-new{
    form, form>div{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    form{
        margin: 1em 0;
        align-items: center;
        div{
            width: 50%;
        }
    }
    label{
        color: var(--MP-text-primary);
    }
    textarea{
        height: 200px;
        border: 1px solid var(--MP-text-primary);
    }

}