form {
    background: linear-gradient(88deg, #49d25a, #1aa3cc, #a20db2);
    background-size: 600% 600%;

    -webkit-animation: bg_gradient 13s ease infinite;
    -moz-animation: bg_gradient 13s ease infinite;
    animation: bg_gradient 13s ease infinite;
    border: 1px solid black;

    padding: 5em;
    .form-content{
        background-color: #2b2b2b;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        padding: 4em 0;
        padding-top: 2em;
        width: 50%;
        margin:auto;
        border: 1px solid black;

        h1{
            border-bottom: 1px solid;
            width: 100%;
            text-align: center;
            padding-bottom: 1em;
        }

        label {
            margin-right: 1em;
        }

        input:focus{
            box-shadow: 0 0 10px #00b5ff;
            outline: none;
            border:none;
            animation: border_color_change 5s infinite;
            // border-color: red;
        }

        .form-input{
            display: flex;
            justify-content: space-between;
            min-width: 25em;
        }

        .input-alert{
            background: #ca9393;
            padding: 1em;
            border-radius: 10px;
            border: 1px solid red;
            color: white;
        }

        .input-errors{
            font-size: 0.8em;
            color: red;
            i{
                margin-right: 10px;
            }
        }
    }

}

.top-separator {

    text-align: center;
    position: relative;
    padding-top: 1em;
    border-top: 1px solid var(--MP-text-primary);
}

.link-anim {
    transition: all 0.2s ease-in-out;
    color: rgba(0,181,255,1)!important;
    &:hover {
        background: linear-gradient(90deg, rgba(1,255,0,1) 0%, rgba(1,255,0,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.error{
    display: flex;
    align-items: center;
    gap: 1em;
    color: red;
}

.logout{
    color:orange!important;
}

@keyframes border_color_change {

    0%{
        box-shadow: 0 0 10px #00b5ff;
    }
    50%{
        box-shadow: 0 0 10px #01ff00;
    }
    100%{
        box-shadow: 0 0 10px #00b5ff;
    }
    
}

@-webkit-keyframes bg_gradient {
    0%{background-position:68% 0%}
    50%{background-position:33% 100%}
    100%{background-position:68% 0%}
}
@-moz-keyframes bg_gradient {
    0%{background-position:68% 0%}
    50%{background-position:33% 100%}
    100%{background-position:68% 0%}
}
@keyframes bg_gradient {
    0%{background-position:68% 0%}
    50%{background-position:33% 100%}
    100%{background-position:68% 0%}
}