.main form {
  background: linear-gradient(88deg, #49d25a, #1aa3cc, #a20db2);
  background-size: 600% 600%;
  -webkit-animation: bg_gradient 13s ease infinite;
  animation: bg_gradient 13s ease infinite;
  border: 1px solid black;
  padding: 5em;
}

.main form .inputs, .main form .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}

.main form .inputs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.main form .inputs div:not(.input-errors) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main form .form-content {
  background-color: #2b2b2b;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4em 0;
  padding-top: 2em;
  width: 50%;
  margin: auto;
  border: 1px solid black;
}

.main form .form-content h1 {
  border-bottom: 1px solid;
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
}

.main form .form-content label {
  margin-right: 1em;
}

.main form .form-content input, .main form .form-content textarea {
  outline: none;
  border: none;
}

.main form .form-content input:focus, .main form .form-content textarea:focus {
  -webkit-box-shadow: 0 0 10px #00b5ff;
          box-shadow: 0 0 10px #00b5ff;
  -webkit-animation: border_color_change 5s infinite;
          animation: border_color_change 5s infinite;
}

.main form .form-content .form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 25em;
}

.main form .form-content .input-alert {
  background: #e1bfbf;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid red;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main form .form-content .input-alert .password-toggle {
  width: auto;
}

.main form .form-content .input-errors {
  font-size: 0.8em;
  max-width: 350px;
  margin-top: 0.5em;
  color: red;
}

.main form .form-content .input-errors i {
  margin-right: 10px;
}

input.valid {
  border: 3px solid green !important;
}

input.invalid {
  border: 3px solid red !important;
}

.top-separator {
  text-align: center;
  position: relative;
  padding-top: 1em;
  border-top: 1px solid var(--MP-text-primary);
}

.link-anim {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #00b5ff !important;
}

.link-anim:hover {
  background: -webkit-gradient(linear, left top, right top, from(#01ff00), to(#01ff00));
  background: linear-gradient(90deg, #01ff00 0%, #01ff00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  color: red;
}

.logout {
  color: orange !important;
}

@-webkit-keyframes border_color_change {
  0% {
    -webkit-box-shadow: 0 0 10px #00b5ff;
            box-shadow: 0 0 10px #00b5ff;
  }
  50% {
    -webkit-box-shadow: 0 0 10px #01ff00;
            box-shadow: 0 0 10px #01ff00;
  }
  100% {
    -webkit-box-shadow: 0 0 10px #00b5ff;
            box-shadow: 0 0 10px #00b5ff;
  }
}

@keyframes border_color_change {
  0% {
    -webkit-box-shadow: 0 0 10px #00b5ff;
            box-shadow: 0 0 10px #00b5ff;
  }
  50% {
    -webkit-box-shadow: 0 0 10px #01ff00;
            box-shadow: 0 0 10px #01ff00;
  }
  100% {
    -webkit-box-shadow: 0 0 10px #00b5ff;
            box-shadow: 0 0 10px #00b5ff;
  }
}

@-webkit-keyframes bg_gradient {
  0% {
    background-position: 68% 0%;
  }
  50% {
    background-position: 33% 100%;
  }
  100% {
    background-position: 68% 0%;
  }
}

@keyframes bg_gradient {
  0% {
    background-position: 68% 0%;
  }
  50% {
    background-position: 33% 100%;
  }
  100% {
    background-position: 68% 0%;
  }
}
/*# sourceMappingURL=form.css.map */