form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 4em 0;
    background-color: var(--MP-bg-primary);
    border: 1px solid black;

    label {
        margin-right: 1em;
    }

    .form-input:nth-last-child(1) {
        color: red !important;
    }

}

.top-separator {

    text-align: center;
    position: relative;
    padding-top: 1em;
    border-top: 1px solid var(--MP-text-primary);
}

.link-anim {
    transition: all 0.2s ease-in-out;
    color: rgba(0,181,255,1)!important;
    &:hover {
        background: linear-gradient(90deg, rgba(1,255,0,1) 0%, rgba(1,255,0,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.error{
    display: flex;
    align-items: center;
    gap: 1em;
    color: red;
}

.logout{
    color:orange!important;
}