.main {
    min-height: 500px;
    color: var(--MP-text-primary);
    background-color: var(--MP-bg-primary);
    padding: 8em;
    padding-top: 4em;
}

.content {
    background-color: #282828;
    min-height: 300px;
    padding: 2em 1em;

    .profile_content{
        min-height: 400px;
        &:not(.active) {
            display: none;
        }
        .images_container{
            overflow-y: scroll;
            max-height: 800px;
        }
    }
    
}

.greet {
    text-align: center;
    margin-bottom: 1em;
}

.tabs {
    height: 2em;
    width: 100%;
    background-color: #202020;

    .profile_tabs {
        font-size: 1em;
        height: 100%;
        border: none;
        border-radius: 0;
        padding: 0 1em;
        background-color: transparent;
        color: var(--MP-text-primary);
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover,
        &.active {
            border: 1px solid gray;
        }
    }

}


.infos{
    display: flex;
    padding: 2em;
    height: 100%;
    justify-content: space-around;
    gap: 1em;


    .button{
        align-self: flex-start;
    }
    .infos-left, .infos-right{
        padding: 1em;
        border: 1px solid gray;
        flex: 0.5;
        display: flex;
    }
    .infos-left{
        flex-direction: column;
        gap: 1em;
    }
    .infos-right{
        justify-content: center;
        img{
            align-self: center;
            max-width: 270px;
        }
    }
}

.modal{
    position: fixed;
    
    overflow: scroll;
    overflow-x: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--MP-bg-primary);
    &:not([data-collapsable]){
        border: 1px solid var(--MP-text-primary);
        max-height: 600px;
    }
    &.collapsed{
        border: 1px solid var(--MP-text-primary);
    }
    .modal-content{
        padding: 1rem;
    }
    .buttons{
        margin-top: 1em;
    }

}

.notifs{
    margin-top: 1em;
    padding: 1em;
    max-height: 500px;
    overflow-y: scroll;
}
.notif{
    margin-bottom: 0.5em;
    border: 1px solid var(--MP-text-primary);
    padding: 1em;
    .head{
        background-color: #424242;
        margin-bottom: 1em;
    }
}

.notif-admin, .notif-report{
    // border: 1px solid red;
    .head .attribute:after{
        content: " (Admin)";
        color: red;
    }
}

.unseen{
    border: 1px solid orange;
}

#ToS ol, #ToS ul {
    margin-left: 2em;
}

.demande{
    h3{
        background-color: #424242;
    }
    padding: 1em;
    padding-bottom: 2em;
    margin-bottom: 1em;
    &:not(:last-child){
        border-bottom: 1px solid var(--MP-text-primary);
    }
}

.commissions-list{
    margin-top: 1em;
    padding: 1em;
    border: 1px solid;
    max-height: 500px;
    overflow-y: scroll;
}