@media screen and (max-width: 1650px) {
  .main, header nav {
    padding: 0 !important;
  }
}

@media screen and (max-width: 1375px) {
  header nav > div {
    gap: 0 !important;
  }
  header .left > :not(.logo):not(:last-child)::after, header .right > :not(:last-child)::after {
    right: 0 !important;
  }
}

@media screen and (max-width: 1225px) {
  .submission {
    max-width: 33% !important;
    max-height: 300px !important;
  }
  .submission:hover {
    max-width: 33% !important;
    max-height: 300px !important;
  }
  .search-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .presentation img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 2em;
    max-width: 100%;
  }
  header > nav {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger > i {
    cursor: pointer;
    padding: 0.5em;
    border-radius: 50%;
  }
  .burger > i:hover {
    -webkit-box-shadow: 0 0 3px 3px var(--MP-text-primary);
            box-shadow: 0 0 3px 3px var(--MP-text-primary);
  }
  .burger nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 00.5em;
    position: relative;
  }
  .burger nav > * {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1em 0;
  }
  .burger nav > *:hover:not(.user) {
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    color: var(--MP-text-link-hover) !important;
    background-color: var(--MP-bg-link-hover);
  }
  .burger nav > *:nth-child(2n) {
    background-color: var(#424242);
  }
  .burger nav .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #burger-nav.collapsed {
    max-height: 550px !important;
  }
}

@media screen and (max-width: 880px) {
  .post .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post .content .text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 700px) {
  #search-container.collapsed {
    max-height: 480px !important;
  }
  #search-container .fieldsets {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .entete {
    font-size: 1.5em;
  }
  .submission {
    max-width: 100% !important;
    max-height: 400px !important;
  }
  .submission:hover {
    max-width: 100% !important;
    max-height: 400px !important;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    gap: 1em;
    padding: 1em 0;
  }
}

@media screen and (max-width: 500px) {
  .post .actions {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post .actions a {
    width: 75%;
    text-align: center;
  }
}

@media screen and (max-width: 1250px) {
  .form-content {
    width: auto !important;
  }
}

@media screen and (max-width: 1050px) {
  .form-data {
    padding: 0 !important;
  }
  .form-content {
    width: auto !important;
  }
}

@media screen and (max-width: 650px) {
  .form-content textarea {
    width: 325px !important;
  }
}

@media screen and (max-width: 450px) {
  .form-content .form-input {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    min-width: 0 !important;
    gap: 0.5em;
  }
}

@media screen and (max-width: 1100px) {
  nav.tabs {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1em;
    padding: 0.5em;
  }
  nav.tabs .profile_tabs {
    padding: 0.5em;
  }
}

@media screen and (max-width: 850px) {
  .profile_content.infos, .notif-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .modal {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  nav.tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .notif-container .notifs {
    padding: 1.5em 0 !important;
  }
}
/*# sourceMappingURL=responsive.css.map */