// ------------------------------------------------------Home page + recherche------------------------------------------------------

@media screen and (max-width: 1650px) {
    .main, header nav{
        padding: 0!important;
    }
}

@media screen and (max-width: 1375px) {
    header nav>div{
        gap: 0!important;
    }

    header .left > :not(.logo):not(:last-child)::after, header .right > :not(:last-child)::after{
        right: 0!important;
    }
}

@media screen and (max-width: 1225px) {
// à cette taille, il faut remplacer les éléments de la nav par un boutton
    .submission{
        max-width: 33%!important;
        max-height: 300px!important;
        &:hover{
            max-width: 33%!important;
            max-height: 300px!important;
        }
    }
    .search-link{
        flex-direction: column;
    }
    .presentation{
        flex-direction: column;
        img{
            align-self: center;
            margin-top: 2em;
            max-width: 100%;
        }
    }

    header > nav{
        display: none;
    }
    .burger{
        display: block;
        &> i{
            cursor: pointer;
            padding: 0.5em;
            border-radius: 50%;
            &:hover{
                box-shadow: 0 0 3px 3px var(--MP-text-primary);
            }
        }
    
        nav{
            display: flex;
            flex-direction: column;
            margin-top: 00.5em;
            position: relative;
            > *{
                width: 100%;
                text-align: center;
                justify-content: center;
                padding: 1em 0;
                &:hover:not(.user){
                    transition: background-color 0.5s ease-in-out;
                    color: var(--MP-text-link-hover) !important;
                    background-color: var(--MP-bg-link-hover);
                }
            }
            > *:nth-child(2n){
                background-color: var(#424242);
            }
            .user{
                display: flex;
            }
        }
    }

    #burger-nav {
        &.collapsed{
            max-height: 450px!important;
        }
    }

}

@media screen and (max-width: 880px) {
    .post .content{
        flex-direction: column;
        .text{
            order: 1;
        }
    }
}


@media screen and (max-width: 700px) {
    #search-container {
        &.collapsed{
            max-height: 480px!important;
        }
        .fieldsets{
            flex-direction: column!important;
        }
    }

    .entete{
        font-size: 1.5em;
    }

    .submission{
        max-width: 100%!important;
        max-height: 400px!important;
        &:hover{
            max-width: 100%!important;
            max-height: 400px!important;
        }
    }
}

@media screen and (max-width: 500px){
    .post .actions{
        align-items: center;
        flex-direction: column;
        a{
            width: 75%;
            text-align: center;  
        }
    }
}

// ------------------------------------------------------form registration et login------------------------------------------------------
@media screen and (max-width: 1250px) {

    .form-content{
        width: auto!important;
    }
}

@media screen and (max-width: 1050px) {
    .form-login{
        padding: 0!important;
    }
    .form-content{
        width: auto!important;
    }
}

@media screen and (max-width: 450px) {

    .form-content .form-input{
        flex-direction: column!important;
        min-width: 0!important;
        gap: 0.5em;
    }
}

// ------------------------------------------------------profil------------------------------------------------------

@media screen and (max-width: 1100px) {

    nav.tabs{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        padding: 0.5em;
        .profile_tabs{
            padding: 0.5em;
        }
    }
}
@media screen and (max-width: 850px) {

    .profile_content.infos{
        flex-direction: column;
    }
    .modal{
        width: 80%;
    }
}

@media screen and (max-width: 650px) {

    nav.tabs{
        flex-direction: column;
    }
}

