@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
    --MP-text-primary: #ccc;
    --MP-bg-primary: #333;
    --MP-bg-body: #555;
    --MP-text-link-hover: #222;
    --MP-bg-link-hover: #aaa;

}

a,
a:focus,
a:visited {
    text-decoration: none;
    color: var(--MP-text-primary) !important;
}

header {
    background: var(--MP-bg-primary) linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 150%);
    border-bottom: 1px solid black;

    .left>*:not(.logo),
    .right>* {
        position: relative;
        padding: 10px;
        transition: all 0.2s ease-in-out;

        &:not(:last-child):after {
            content: '';
            background-color: var(--MP-text-primary);
            height: 1.5em;
            width: 1px;
            position: absolute;
            top: 0.6em;
            right: -1em;
        }
    }

    .user {
        &:after {
            top: 1.2em !important;
        }

        a {
            color: var(--MP-text-primary);
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 1em;

            &:hover {
                color: green !important;
            }

            img {
                border-radius: 50%;
                height: 40px;
                width: 40px;
                border: 1px solid var(--MP-text-primary);

                &:hover {
                    box-shadow: 0 0 2px 2px green;
                }
            }
        }
    }


    .left .nav_link,
    .right .nav_link {

        i {
            margin-left: 0.5em;
        }

        &:not(#search-link):hover {
            color: var(--MP-text-link-hover) !important;
            background-color: var(--MP-bg-link-hover);
        }

    }

    nav {
        padding: 0 8em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left,
        .right {
            display: flex;
            height: 100%;
            align-items: center;
            gap: 2em;

            .logo {
                height: 70px;
                padding: 5px;

                img {
                    height: 100%;
                }
            }
        }
    }
}


body {
    min-height: 100vh;
    background-color: var(--MP-bg-body);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    margin-top: 2em;
    padding: 0 8em;
}

.text_light {
    color: var(--MP-text-primary);
}

footer {
    border-top: 1px solid black;
    background: var(--MP-bg-primary) linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 150%);
    height: 70px;
    // position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 2em;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    color: var(--MP-text-primary);
}

.banner-container {
    height: 150px;
    width: 100%;
    background: var(--MP-bg-link-hover);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;

    .banner {
        height: 100%;
        width: 80%;
        background: black;
    }
}

.button {
    background-color: var(--MP-bg-primary);
    color: var(--MP-text-primary);
    border: 1px solid var(--MP-text-primary);
    border-radius: 0;
    cursor: pointer;
    padding: 0.5em;
    transition: all 0.2s ease-in-out;

    &:hover {
        border-radius: 10px;
        background-color: var(--MP-text-link-hover);
    }
}

.images_container {
    background-color: #333;
    border: 1px solid black;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;

    &.expandable .submission:hover {
        max-width: 20%;
        max-height: 220px;
    }

    .submission {
        cursor: pointer;
        max-width: 15%;
        max-height: 165px;
        text-align: center;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease-in-out;

        a {
            display: contents;
        }

        align-items: center;

        &:hover img {
            border: 1px solid white;
        }

        &:hover h3 {
            text-decoration: underline;
        }

        img {
            transition: border 0.3s ease-in-out;
            max-width: 100%;
            max-height: 100%;
            border: 1px solid gray;
        }

        h3 {
            font-size: 1em;
        }
    }
}

.page-buttons{
    margin-top: 1em;
    position: relative;
    .left{
        position: absolute;
        left: 0;
    }
    .right{
        position: absolute;
        right: 0;
    }
  
}

.home-page{
    text-align: center;
    color: var(--MP-text-primary);
    margin-bottom: 1em;
}

#search-link{
    display: flex;
    color: var(--MP-text-primary);
    input{
        margin-left: 1em;
    }
    i{
        cursor: pointer;
    }
}