@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
  --MP-text-primary: #ccc;
  --MP-bg-primary: #333;
  --MP-bg-body: #555;
  --MP-text-link-hover: #222;
  --MP-bg-link-hover: #aaa;
}

.text_light a:not(.link-anim):not(.link-danger),
.text_light a:focus:not(.link-anim):not(.link-danger),
.text_light a:visited:not(.link-anim):not(.link-danger) {
  color: var(--MP-text-primary) !important;
}

a,
a:focus,
a:visited {
  text-decoration: none;
}

.link-anim {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #00b5ff !important;
}

.link-anim:hover {
  background: -webkit-gradient(linear, left top, right top, from(#01ff00), to(#01ff00));
  background: linear-gradient(90deg, #01ff00 0%, #01ff00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-danger {
  color: red !important;
}

header {
  background: var(--MP-bg-primary) -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.5)));
  background: var(--MP-bg-primary) linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 150%);
  border-bottom: 1px solid black;
}

header .left > *:not(.logo),
header .right > * {
  position: relative;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .left > *:not(.logo):not(:last-child):after,
header .right > *:not(:last-child):after {
  content: '';
  background-color: var(--MP-text-primary);
  height: 1.5em;
  width: 1px;
  position: absolute;
  top: 0.6em;
  right: -1em;
}

header .user:after {
  top: 1.2em !important;
}

header .user a {
  color: var(--MP-text-primary);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

header .user a:hover {
  color: green !important;
}

header .user a img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 1px solid var(--MP-text-primary);
}

header .user a img:hover {
  -webkit-box-shadow: 0 0 2px 2px green;
          box-shadow: 0 0 2px 2px green;
}

header .left .nav_link i,
header .right .nav_link i {
  margin-left: 0.5em;
}

header .left .nav_link:not(.search-link):hover,
header .right .nav_link:not(.search-link):hover {
  color: var(--MP-text-link-hover) !important;
  background-color: var(--MP-bg-link-hover);
}

header nav {
  padding: 0 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .left,
header nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

header nav .left .logo,
header nav .right .logo {
  height: 70px;
  padding: 5px;
}

header nav .left .logo img,
header nav .right .logo img {
  height: 100%;
}

body {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(85, 85, 85, 0.8)), to(rgba(85, 85, 85, 0))), url("../images/static/bg.png"), -webkit-gradient(linear, left top, left bottom, from(var(--MP-bg-body)), to(var(--MP-bg-body)));
  background-image: linear-gradient(0deg, rgba(85, 85, 85, 0.8) 0%, rgba(85, 85, 85, 0) 100%), url("../images/static/bg.png"), linear-gradient(var(--MP-bg-body), var(--MP-bg-body));
  background-position: center, center, center;
  background-size: auto, 70%, auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  margin-top: 2em;
  padding: 0 8em;
}

.text_light {
  color: var(--MP-text-primary);
}

footer {
  border-top: 1px solid black;
  background: var(--MP-bg-primary) -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.5)));
  background: var(--MP-bg-primary) linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 150%);
  height: 70px;
  width: 100%;
  bottom: 0;
  margin-top: 2em;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  color: var(--MP-text-primary);
}

.banner-container {
  height: 150px;
  width: 100%;
  background: var(--MP-bg-link-hover);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid black;
}

.banner-container .banner {
  height: 100%;
  width: 80%;
  background: black;
}

.button {
  font-size: 1em;
  background-color: var(--MP-bg-primary);
  color: var(--MP-text-primary);
  border: 1px solid var(--MP-text-primary);
  border-radius: 0;
  cursor: pointer;
  padding: 0.5em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button.danger {
  color: red !important;
  border-color: red !important;
}

.button.success {
  color: green !important;
  border-color: green !important;
}

.button:hover {
  border-radius: 10px;
  background-color: var(--MP-text-link-hover);
}

.images_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.images_container.expandable .submission:hover {
  max-width: 20%;
  max-height: 220px;
}

.images_container .submission {
  cursor: pointer;
  max-width: 15%;
  max-height: 165px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.images_container .submission a {
  display: contents;
}

.images_container .submission:hover img {
  border: 1px solid white;
}

.images_container .submission:hover h3 {
  text-decoration: underline;
}

.images_container .submission img {
  -webkit-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid gray;
}

.images_container .submission h3 {
  font-size: 1em;
}

.page-buttons {
  margin-top: 1em;
  margin-bottom: 5.5em;
  position: relative;
}

.page-buttons .left {
  position: absolute;
  left: 0;
}

.page-buttons .right {
  position: absolute;
  right: 0;
}

.home-page {
  text-align: center;
  color: white;
  margin-bottom: 1em;
}

.search-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  color: var(--MP-text-primary);
}

.search-link input {
  margin-left: 1em;
}

.search-link i {
  cursor: pointer;
}

.collapsable, .collapsed {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 1s cubic-bezier(0, 1, 0, 1);
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}

[data-collapsable] {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 1s cubic-bezier(0, 1, 0, 1);
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}

[data-collapsable]:not(.collapsed) {
  padding: 0 !important;
  border: none !important;
}

.collapsed {
  max-height: 310px;
}

.user a {
  position: relative;
}

#notifs-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: -10px;
  background-color: orange;
  color: white;
  padding: 0.25em 0.5em;
  font-size: 0.8em;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 15px;
}

.hidden {
  display: none;
}

.deactivated {
  margin: 0 0.25em;
  color: black;
  background-color: gray !important;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.deactivated select {
  background-color: gray;
}

.burger {
  display: none;
  text-align: center;
  color: var(--MP-text-primary);
  font-size: 1.5em;
  padding: 0.5em 0;
}

.burger form.search-link {
  gap: 0.5em;
}

.burger form.search-link input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.attribute {
  color: orange;
}

.missing {
  font-style: italic;
}

.block-content {
  background-color: var(--MP-bg-primary);
  padding: 2em;
  -webkit-box-shadow: 0px 3px 10px 3px #00000070;
          box-shadow: 0px 3px 10px 3px #00000070;
  border: 1px solid black;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.presentation .title {
  margin-bottom: 0.5em;
}

.presentation img {
  max-height: 230px;
}

.password-toggle {
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 0.5em;
  width: 0px;
}

.CGU {
  color: var(--MP-bg-primary);
  background-color: #e8e8e8;
  padding: 2em;
  max-height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
}

.CGU ul, .CGU p {
  margin-left: 2em;
  margin-top: 1em;
}

.error-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  background: var(--MP-bg-primary);
  color: var(--MP-text-primary);
  border: 2px dashed var(--MP-bg-link-hover);
}

.error-page h1 {
  margin-bottom: 1em;
  color: red;
}
/*# sourceMappingURL=style.css.map */