@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
  --MP-text-primary: #ccc;
  --MP-bg-primary: #333;
  --MP-bg-body: #555;
  --MP-text-link-hover: #222;
  --MP-bg-link-hover: #aaa;
}

a,
a:focus,
a:visited {
  text-decoration: none;
  color: var(--MP-text-primary) !important;
}

header {
  background: var(--MP-bg-primary) -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.5)));
  background: var(--MP-bg-primary) linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 150%);
  border-bottom: 1px solid black;
}

header .left > *:not(.logo),
header .right > * {
  position: relative;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header .left > *:not(.logo):not(:last-child):after,
header .right > *:not(:last-child):after {
  content: '';
  background-color: var(--MP-text-primary);
  height: 1.5em;
  width: 1px;
  position: absolute;
  top: 0.6em;
  right: -1em;
}

header .user:after {
  top: 1.2em !important;
}

header .user a {
  color: var(--MP-text-primary);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

header .user a:hover {
  color: green !important;
}

header .user a img {
  border-radius: 50%;
  height: 40px;
}

header .user a img:hover {
  -webkit-box-shadow: 0 0 2px 2px green;
          box-shadow: 0 0 2px 2px green;
}

header .left .nav_link i,
header .right .nav_link i {
  margin-left: 0.5em;
}

header .left .nav_link:hover,
header .right .nav_link:hover {
  color: var(--MP-text-link-hover) !important;
  background-color: var(--MP-bg-link-hover);
}

header nav {
  padding: 0 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .left,
header nav .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

header nav .left .logo,
header nav .right .logo {
  height: 70px;
  padding: 5px;
}

header nav .left .logo img,
header nav .right .logo img {
  height: 100%;
}

body {
  min-height: 100vh;
  background-color: var(--MP-bg-body);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  margin-top: 2em;
  padding: 0 8em;
}

.text_light {
  color: var(--MP-text-primary);
}

footer {
  border-top: 1px solid black;
  background: var(--MP-bg-primary) -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(0, 0, 0, 0.5)));
  background: var(--MP-bg-primary) linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 150%);
  height: 70px;
  width: 100%;
  bottom: 0;
  margin-top: 2em;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  color: var(--MP-text-primary);
}

.banner-container {
  height: 150px;
  width: 100%;
  background: var(--MP-bg-link-hover);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid black;
}

.banner-container .banner {
  height: 100%;
  width: 80%;
  background: black;
}

.button {
  background-color: var(--MP-bg-primary);
  color: var(--MP-text-primary);
  border: 1px solid var(--MP-text-primary);
  border-radius: 0;
  cursor: pointer;
  padding: 0.5em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  border-radius: 10px;
  background-color: var(--MP-text-link-hover);
}

.main-content {
  background-color: #333;
  border: 1px solid black;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content .submission {
  cursor: pointer;
  max-width: 15%;
  max-height: 165px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .submission:hover {
  max-width: 20%;
  max-height: 220px;
}

.main-content .submission a {
  display: contents;
}

.main-content .submission:hover img {
  border: 1px solid white;
}

.main-content .submission:hover h3 {
  text-decoration: underline;
}

.main-content .submission img {
  -webkit-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid gray;
}

.main-content .submission h3 {
  font-size: 1em;
}
/*# sourceMappingURL=style.css.map */