{% block form_row %}

     {% if not((form_errors(form)|trim) is empty)%}<div class="input-alert" >{% endif %}
        <div class="form-input">
            {{ form_label(form) }}
            {{ form_widget(form) }}
        </div>
            {{ form_errors(form) }}
    {% if not((form_errors(form)|trim) is empty)%}</div>{% endif %}

{% endblock %}

{% block form_errors %}
          {% for error in errors %}
                <div class="input-errors"><i class="fa-solid fa-triangle-exclamation"></i>{{ error.message }}</div>
          {% endfor %}
{% endblock %}