{% extends 'base.html.twig' %}

{% block title %}
	{% if customTitle == '' %}
		Erreur 404!
	{% else %}
		{{customTitle | raw}}
	{% endif %}
{% endblock %}

{% block body %}
<h1>Erreur 404</h1>
	{% if customMessage == '' %}
		Erreur, cette page n'existe pas!
	{% else %}
		{{customMessage | raw}}
	{% endif %}
{% endblock %}
