<h1>Changer votre mot de passe</h1>
<p>Bonjour {{ user.surname }},</p>
<p>Nous vous envoyons le lien ci-dessous pour modifier votre mot de passe, ne le partagez à personne.</p>
<p><a href="{{ absolute_url(path('app_password_new',{token: token})) }}">Lien</a></p>
<p>Ce lien expirera dans 3 heures</p>