{% extends 'base.html.twig' %}

{% block title %}
	{% if  customTitle is defined or customTitle == '' %}
		Erreur 404!
	{% else %}
		{{customTitle | raw}}
	{% endif %}
{% endblock %}

{% block body %}
	<div class="error-page">
		<h1>Erreur 404!</h1>
		{% if not customMessage is defined or customMessage == '' %}
			Erreur, cette page n'existe pas!
		{% else %}
			{{customMessage | raw}}
		{% endif %}
	</div>
{% endblock %}
