{% extends 'base.html.twig' %}

{% block title %}
	{% if  customTitle is defined or customTitle == '' %}
		Erreur 403!
	{% else %}
		{{customTitle | raw}}
	{% endif %}
{% endblock %}

{% block body %}
<div class="error-page">
	<h1>Erreur 403</h1>
		{% if not customMessage is defined or customMessage == '' %}
			Vous n'avez pas l'autorisation d'accéder à cette page!
		{% else %}
			{{customMessage | raw}}
		{% endif %}
</div>
{% endblock %}
