{# bloc affichant les posts de l'utilisateur #}
<div class="profile_content galerie" data-title="galerie">
	<p>Ma galerie</p>
	<div class="images_container block-content">
		{% for submission in user.submissions %}
			<div class="submission text_light">
				<a href="{{ path('app_post_show', { 'postId':submission.id })}}"><img src="{{ asset('images/users/' ~ submission.url) }}" alt="{{ submission.title }}"/>
					<h3>{{ submission.title }}</h3>
				</a>
			</div>
		{% endfor %}
	</div>
</div>
